body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.logo {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    letter-spacing: -.2px;
    
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    margin-top: 0;
    margin-right: 500px;

}

ol {
    margin-bottom: 0;
}

.project-description{
    width: 500px;

}


.hero {
    height: 300px;
    background-image: url(../imagenes/hero.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #1D252C;
    color: white;

}

.hero strong{
    color: #026fff;
}

.header {
    background-color: #1D252C;
    color: white;
}

.header div nav ol li a {
    color: white;
    text-decoration: none;
}

.portfolio {
    margin-top: 10px;
    border: 1px gray solid;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}


h2 {
    margin: 0;
}

.proyecto{
    display: flex;
}

.flexbox {
    display: flex;
}

.box{
    width: 300px;
    height: 300px;
    border: black 1px solid;
}